# Security Warning! Не нужно коммитить этот файл в VCS!
# Это локальный файл для ускорения процесса разработки,
# чтобы не менять переменные окружения вручную.
#
# Это не относится к `.env.template`!
# Файлы шаблонов должны быть закоммичены в VCS, но не должны содержать
# секретные значения.


# === База данных ===

# Это специальные переменные, так как используются
# Docker-образом postgres.
# Нельзя переименовывать, если используете postgres в docker.
# См: https://hub.docker.com/_/postgres

POSTGRES_NAME=server
POSTGRES_USER=server
POSTGRES_PASSWORD=server

# Используется `pg_isready`:
PGUSER=server